body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: inline;
}

.logo.web {
    color: #4D5AE5;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.logo.studio {
    color: #2E2F42;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.links {
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;
    margin-right: 40px;
}

.links:hover {
    color: #404BBF;
}

.links:focus {
    color: #404BBF;
}

.contact:hover {
    color: #404BBF;
}

.contact:focus {
    color: #404BBF;
}

.contact {
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.first-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 188px; 
    width: 494px;
}

.button-studio {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #4D5AE5;
    border: 0;
    margin-top: 48px;
    width: 169px;
    height: 56px;
    display: flex;
    justify-content: center;
    margin-bottom: 188px;
}

.button-studio:hover {
    background: #404BBF;
    cursor: pointer;
}

.backgrond-section-one {
    background: #2E2F42;
    width: auto;
    height: 600px;
}

.backgrond-section-one.footer-bso {
    height: auto;
}

.list-one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

.list-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.footer-description {
    color: #E7E9FC;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
    margin-left: 156px;
    margin-bottom: 100px;
}

.ourteam {
    background: #F4F4FD;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 732px;
}

.logo.studio.white {
    color: #F4F4FD;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1;
}

.button-portfolio {
    background: #F4F4FD;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    border: 0px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 48px;
    width: auto;
}

.button-portfolio:hover {
    background: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

.product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    display: flex;
    margin-bottom: 8px;
    margin-left: 16px;
}

.product-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    display: flex;
    margin-left: 16px;
    margin-bottom: 32px;
}

.title-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2E2F42;
    display: flex;
    justify-content: center;
}

.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #2E2F42;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.name-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
}

.nav-header {
    display: flex;

}

.contact-parents {
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 24px;
    margin-right: 156px;
}

.list-nav {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 24px;
}

.cont-item {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.ad-item {
    display: inline;
    margin-left: 40px;
}

.logotip {
    margin-top: 24px;
    margin-bottom: 24px;
}

.containerone {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-spn {
    margin-top: 16px;
}

.fyb {
    display: flex;
    justify-content: center;
}

.es {
    display: flex;
    justify-content: center;
}

.containertwo {
    margin: 120px 156px;
    display: flex;
    justify-content: center;
}

.ourgoals {
    display: flex;
}

.og-item {
    margin-right: 24px;
    width: 264px;
    height: 104px;
}

.containertwo.photos {
    flex-direction: column;
}

.photo-section-two {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.command { 
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.containerthree {
    display: flex;
    flex-direction: column;
 
}

.command-title {
    margin-top: 120px;
    margin-bottom: 72px;
}

.commad-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
}

.commad-description {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.ws-footer {
    margin-top: 100px;
    margin-left: 156px;
    margin-bottom: 16px;
}

.container-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.container-buttons {
    margin-top: 96px;
    margin-bottom: 72px;
}

.buttons-list-portfolio {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.text-button-portfolio {
    margin: 12px 24px;
}

.photo-list-p {
    display: flex;
    margin-top: 76px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
    justify-content: center;
}

.list-set {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}

.list-set-item {
    background-color: #FFFFFF;
    width: 360px;
    height: 420px;
}

.border-bottom-card {
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding-top: 32px;
}

.header-bottom {
    border-bottom: 1px solid #E7E9FC;
    width: auto;
}